@CHARSET "UTF-8";

.cre8Form li {
	list-style: none;
}
.cre8Form li ul {
	clear: left;
	float: left;
}
.cre8FormRow {
	clear: left;
	float: left;
	width: 100%;
}
.error_list {
	text-align: center;
	color: red;
}
em.required {
	font-size:1.2em;
	font-weight:bold;
	margin:0px;
	padding:0px;
	color: red;
}
label.required {
	font-weight:bold;
}
.cre8FormClrL {
	clear: left;
}
.cre8FormClrR {
	clear: right;
}
.cre8FormFloatL {
	float: left;
}
.cre8FormFloatR {
	float: right;
}

